# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.iml
*.iws
*.ipr

# Logs
*.log

// backend
# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
.idea/
.vscode/
*.iml

# Environment — NEVER commit secrets
application-local.yml
application-prod.yml
.env

# Logs
*.log
logs/

# OS
.DS_Store

// fontend
# Dependencies
node_modules/

# Build output
dist/
build/

# Environment — NEVER commit secrets
.env
.env.local


# IDE
.vscode/
.idea/

# OS
.DS_Store

# Logs
*.log
npm-debug.log*